:javascript
  window.myLocation = "#{@profile.location}"
  window.myLat = #{@profile.lat}
  window.myLng = #{@profile.lng}

%script{:type => "text/javascript", :src => "http://www.google.com/jsapi?key=#{GOOGLE_MAPS_KEY}"}
= javascript_include_tag("map")

%h1 Your Page

.right_side
  .side_section
    %h3 Share Your Page
    %p Share this link to build your network:
    = link_to("http://mysixdegrees.me#{profile_path(@profile)}")

  .side_section
    %h3 Save Your Page

  .side_section
    %h3 Edit Your Page

  .side_section
    %h3 Your Network
    - if @network.empty?
      %p Your network is empty.
      Share your page to build your network.

.left_side
  #map
