:javascript
  window.myLocation = "#{@profile.location}"
  window.myLat = #{@profile.lat}
  window.myLng = #{@profile.lng}
  window.connections = #{@connections.to_json}

%script{:type => "text/javascript", :src => "http://www.google.com/jsapi?key=#{GOOGLE_MAPS_KEY}"}
= javascript_include_tag("map")

%h1= @profile.title.blank? ? "#{@owner ? "Your" : "Someone's"} Page" : @profile.title

.right_side
  = render :partial => "profiles/description_and_photos"

  - if @owner
    = render :partial => "profiles/edit_page"
    = render :partial => "profiles/share_page"
    = render :partial => "profiles/claim_page"

  - else
    .side_section
      %h3 Join This Network
      %p
        = link_to("Create a page", new_profile_path(:join => @profile))
        in this network to join.
  .side_section
    %h3 The Network from this Page
    - if @connections.empty?
      %p This network is empty.
      - if @owner
        %p Share your page to build your network.
    - else
      - @connections.each do |connection|
        %p= link_to(connection.to_profile.name, direct_profile_path(connection.to_profile))
.left_side
  #map


= render :partial => "layouts/other_sites"
