%style
  == .word_list_container { margin: auto; padding-top: 3em; width: 240px; }
  == .word_list { height: 210px; overflow: auto; }
  == .word_list table { width: 225px; }
  == .word_list td { width: 33% }
  == .word_list .odd td { background-color: #ddd; }
  == .word_list td.popular, .word_list td.word { padding: 12px 0; }
  == .word_list td.first_row { padding-top: 0; }
  == .word_list td.good { text-align: right; padding-right: 6px; }
  == .word_list td.bad { text-align: left; padding-left: 6px;  }
  == .good_words { float: right; }
  == .bad_words { float: left; }
  == .selected_words_container_container { width: 224px; }
  == .selected_words_container_container h3 { padding-bottom: 6px; }
  == .selected_words_container { margin-top: 3px; border: 1px solid #ccc; height: 265px; width: 222px; overflow: auto; }
  == .selected_words { padding: 6px 0 12px 0; }
  == .selected_words .selected_word { display: block; margin-top: 12px; }
  == #word_progress { font-size: 12pt; margin: 3px 0 6px; }
  == .recent_words { margin: auto; }
  == .recent_words .recent_words_for_ip { margin-bottom: 12px; text-align: left; }
  == .recent_words .recent_words_for_ip .name { font-weight: bold; padding: 24px 12px 0 0; }
  == .recent_words .recent_words_for_ip .name form { margin-top: 9px; }
  == .recent_words .recent_words_for_ip .words { padding-top: 12px; }

:javascript
  $(function() {
    $("#word_progress").keyup(function() {
      var typed = $(this).val();
      $("#typed_word").find(".word").html(typed);

      if (typed.length > 0) {
        $("#typed_word").show();
      } else {
        $("#typed_word").hide();
      }

      $(".word_list .word").each(function() {
        if ($(this).closest("tr").attr("id") != "typed_word") {
          if ($(this).html().indexOf(typed) == 0) {
            $(this).closest("tr").show();
          } else {
            $(this).closest("tr").hide();
          }
          if ($(this).html() == typed) $("#typed_word").hide();
        }
      });
    });

    $(".good a").click(function() {
      clickWord($(this), "good_words");
    });

    $(".bad a").click(function() {
      clickWord($(this), "bad_words");
    });

    function clickWord(link, type) {
      var word = link.closest("tr").find(".word").html();
      addWord(word, type);
      $("#word_progress").val("");
      $("#word_progress").keyup();
      $("#word_progress").focus();
    }

    function addWord(word, type) {
      if ($("." + type + " .selected_words .selected_word").length >= 4) {
        alert("You've already added the maximum number of \"" + type.replace("_", "\" ") + ".\r\rClick a word in your list to remove it and replace it with this word.");
        return;
      }
      $("." + type + " .selected_words").append(
        $("<a/>").addClass("selected_word").html(word).attr("href", "javascript:void(0)").click(function() {
          this.parentNode.removeChild(this);
          $("#" + type).val($("#" + type).val().replace(", " + word, ""));
        })
      );
      $("." + type + " .selected_words_container").scrollTop(5000);
      $("#" + type).val($("#" + type).val() + ", " + word);
    }

    var myGoodWords = #{@my_good_words.map(&:smart_word).sort.to_json};
    var myBadWords = #{@my_bad_words.map(&:smart_word).sort.to_json};
    for (i in myGoodWords) {
      addWord(myGoodWords[i], "good_words");
    }
    for (i in myBadWords) {
      addWord(myBadWords[i], "bad_words");
    }

    if (myGoodWords.length == 0 && myBadWords.length == 0 && $("#edit_profile_form").length == 0) {
      $("#word_progress").focus();
    }
  });


- if @owner
  .share_profile
    %h3 Have Your Friends Describe You
    %p Share either of these links with your friends:
    %p
      = link_to("http://bestwords.me/#{@user.to_param}", "http://bestwords.me/#{@user.to_param}")
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      = link_to("http://bew.me/#{@user.to_param}", "http://bew.me/#{@user.to_param}")

  .edit_profile
    %h3 Edit/Enhance Your Page
    %p= link_to("how your page will look to your friends >", profile_path(@user, :friend_view => 1), :target => "_blank")
    = link_to_function("click to edit", "$('#edit_profile_form').toggle();")
    = form_for @user, :html => {:multipart => true, :id => "edit_profile_form", :style => "display: none;"} do |f|
      .profile_field
        = f.label :slug, "Your Page: http://bestwords.me/"
        = f.text_field :slug
        .small
          (you should not change your page url if you have already shared your page with someone else)
      .profile_field
        = f.label :name, "Your Name: "
        = f.text_field :name
        .small
          (will be used in the
          = "\"What words best describe #{@user.name || @user.slug}?\""
          below)
      .profile_field
        = f.label :photo, "Your Photo: "
        = f.file_field :photo
        .small
          (your page will look a lot better with a photo)
      .profile_field
        = f.label :email, "Your Email: "
        = f.text_field :email, :value => @user.email.starts_with?("tmp") ? "" : @user.email
        .small
          (we'll only email you to notify you when someone fills out your page)
      .profile_field
        = f.label :password, "Your Password: "
        = f.password_field :password
        .small
          (so you can log in and see the results)
      = f.submit("Save")



- unless @user != User::SAMPLE_USER && @user.photo.url(:normal) =~ /missing/
  = image_tag(@user == User::SAMPLE_USER ? "user_photos/sample.jpg" : @user.photo.url)
  %br
  %br
  
%h1
  What words best describe
  = "#{@user.name || @user.slug}?"

- if @my_good_words.present? || @my_bad_words.present?
  .section
    %b Your Best Words:
    = @my_good_words.map(&:smart_word).sort.join(", ")
    = link_to_function("(edit words)", "$('#my_words').toggle();", :class => "small")
    %p
      %b Your Worst Words:
      = @my_bad_words.map(&:smart_word).sort.join(", ")
      = link_to_function("(edit words)", "$('#my_words').toggle();", :class => "small")

  .section

- if @owner
  %p
    = link_to_function("Add some words about yourself", "$('#my_words').toggle();")

#my_words{:style => (@owner || @my_good_words.present? || @my_bad_words.present?) ? "display: none;" : ""}
  = form_tag(profile_words_path(@user)) do
    .good_words.selected_words_container_container
      %h3 Best Words
      = @user.name || @user.slug
      is definitely:
      .selected_words_container
        .selected_words
          .small add up to 4 "best" words
          %p.small click a word to remove it
    = hidden_field_tag("good_words")
    .bad_words.selected_words_container_container
      %h3 Worst Words
      = @user.name || @user.slug
      is definitely not:
      .selected_words_container
        .selected_words
          .small add up to 4 "worst" words
          %p.small click a word to remove it
    = hidden_field_tag("bad_words")
    .word_list_container
      Type a word or select from the list:
      = text_field_tag("word_progress")
      .word_list
        %table
          %tbody
            %tr#typed_word{:style => "display: none;", :class => cycle("even", "odd")}
              %td.bad= link_to_function("< worst", "")
              %td.word
              %td.good= link_to_function("best >", "")
            - @used_words.map(&:smart_word).uniq.sort.each do |word|
              %tr{:class => cycle("even", "odd") }
                %td.bad= link_to_function("< worst", "")
                %td.word= word
                %td.good= link_to_function("best >", "")
            - (Word.all.map(&:word) - @used_words.map(&:smart_word).uniq).each do |word|
              %tr{:class => cycle("even", "odd") }
                %td.bad= link_to_function("< worst", "")
                %td.word= word
                %td.good= link_to_function("best >", "")
    - unless @owner
      %p
        Let
        = @user.name || @user.slug
        know who you are:
        %br
        = text_field_tag("signature")
        %br
        %span.small (leave blank to be anonymous)
    = submit_tag("Save Words")




- if @good_words.present? || @bad_words.present?
  .section
    %h3
      Best and Worst Words for
      = @user.name || @user.slug
    %br
    - if @used_words.empty? && @owner
      No one has added any words to describe you yet.
      %p Share a link to your page with your friends to see what words they add.
    - else
      - if @good_words.present?
        = word_chart(@user, @good_words, true)
      - if @bad_words.present?
        = word_chart(@user, @bad_words, false)

  .section
    %h3
      Recently Added Words for
      = @user.name || @user.slug
    %table.recent_words
      %tbody
        - grouped_words(@used_words).sort_by { |info| info[1][:time] }.reverse.each do |info|
          %tr.recent_words_for_ip
            %td.name
              = info[1][:signature]
              added:
              - if @owner
                = form_for :user_words, :url => destroy_all_profile_words_path(@user), :html => {:method => :delete} do
                  = hidden_field_tag("user_words_to_delete", (info[1][:good_words] + info[1][:bad_words]).map(&:id).join(","))
                  = submit_tag("Delete Words", :confirm => "Are you sure you want to delete this person's words?")
            %td
              .words
                %b Best:
                = info[1][:good_words].map(&:smart_word).join(", ")
              .words
                %b Worst:
                = info[1][:bad_words].map(&:smart_word).join(", ")


- unless @owner
  .section
    .p
      Create your own
      = link_to("BestWords.Me page >", "/")


- if (@owner && current_user.created_at < 20.minutes.ago) || (!@owner && (@my_good_words.present? || @my_bad_words.present?))
  .section
    - if @owner
      %h3 While You Wait
    - elsif @my_good_words.present? || @my_bad_words.present?
      %h3 Thanks for playing!

    %p
      - if @owner
        While you're waiting for friends to add words:
        %br
        %br
      - else
        Now create your own
        = link_to("BestWords.Me page >", "/")
        %br
        %br
        or
      check out the game I built that inspired BestWords.Me,
      = link_to("The Matching Game >", "http://www.thematchinggame.com", :target => "_blank")
      %br
      %br
      or, if you're getting married, check out my other site,
      = link_to("WeddingMapper >", "http://www.weddingmapper.com", :target => "_blank")
