:javascript
  $(function(){
    $("#user_slug").focus(function() {
      if ($(this).val() == "your_name") $(this).val("");
    });

    $("#user_slug").focusout(function() {
      if ($(this).val() == "") $(this).val("your_name");
    });
  });

%h1.tagline What words best describe you?

%p What words would your friends and family use to describe you?
%p Create your own BestWords.Me page and find out :)

.new_profile
  %h2 Your Personal Page:
  - if user_signed_in? && current_user.slug.present?
    = link_to("http://bestwords.me/#{current_user.slug}", profile_path(current_user))
  - else
    = form_for(@user) do |f|
      = f.label :slug, "http://bestwords.me/"
      = f.text_field :slug, :value => "your_name"
      = f.submit("Create >", :style => "font-size: 12pt; width: 5em;")    
    
.sample
  = image_tag("user_photos/sample.jpg")
  %h3 A Sample
  %h3= link_to("bestwords.me/sample_the_dog", profile_path("sample_the_dog"))
  %p it works for people, pets, etc :)
