%h2 About BestWords.Me
%br
%p
  BestWords.me was created by
  = link_to("Irrational Design", "http://www.irrationaldesign.com", :target => "_blank")
  as a way to let people who were looking to date on
  = link_to("The Matching Game", "http://www.thematchinggame.com", :target => "_blank")
  have their friends talk about their best qualities and show them to potential dates.

%p
  I figured, why not create a site that anyone can use, instead of just a feature for
  = "#{link_to("The Matching Game", "http://www.thematchinggame.com", :target => "_blank")}?".html_safe
%p
  It was definitely inspired by the folks that created the popular
  = link_to("threewords.me", "http://threewords.me", :target => "_blank")
  service. I didn't want to just copy them, so I did my best to
  add a unique twist (people voting on which words best describe you).
  Still, it is pretty damn similar, so much thanks to the folks who created threewords.me :)

%p
  = link_to("Create your BestWords.Me page >", root_path)
    

